[submodule "lib/faust"]
	path = lib/faust
	url = git@github.com:grame-cncm/faust.git
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest.git
[submodule "lib/tree-sitter"]
	path = lib/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "lib/tree-sitter-faust"]
	path = lib/tree-sitter-faust
	url = https://github.com/khiner/tree-sitter-faust.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/sdl3"]
	path = lib/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
